body{
    background-color: coral;
}

nav > a {
    color :rgb(107, 61, 4)
}

h1 {
    text-align: center;
    color: rgb(61, 29, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Cambria, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

h2 {
    color: rgb(61, 29, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
}
p {
    color: rgb(61, 29, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
    text-align: center;
}

footer {
    text-align: center;
    font-size: small;
    color: rgb(61, 29, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main {
    text-align: center;
}

main img {
    width: 631px;
    height: 631px;
    border-radius: 10%;
    aspect-ratio: 631/631;
}

i{
    color: rgb(107, 61, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: square;
    text-align: left;
    display: inline-block;
}